[% WRAPPER crud_list
   table = 'Device'
   has_attributes = 1 %]
[% END %]

&nbsp;

[% crudbutton("devicecontrol", "list", "", "List Controls") %]
[% crudbutton("devicecontrol", "add", "", "Add Control") %]

&nbsp;

[% crudbutton("deviceattribute", "list", "", "List Attributes") %]
[% crudbutton("deviceattribute", "add", "", "Add Attribute") %]
